<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TwitchVodPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <runtime>
        <gcAllowVeryLargeObjects enabled="true"/>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <userSettings>
        <TwitchVodPlayer.Properties.Settings>
            <setting name="ClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="LastClientIdTestTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HiddenChatBoxWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StickyChatBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HiddenChatBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransparentChatBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SavedPositions" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedOffsets" serializeAs="String">
                <value />
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="ChatFormSize" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="ChatFormLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="VolumeMuted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HiddenDraggerBox" serializeAs="String">
                <value>False</value>
            </setting>
        </TwitchVodPlayer.Properties.Settings>
    </userSettings>
</configuration>
